*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
:root{
  --black: black;
  --litblack: rgb(32,32,32);
  --white: rgb(255,255,255);
  --ash: rgb(139,139,139);
  --green: rgb(140, 241, 140);
  --blue: rgb(44, 44, 231);
}
